//menu
$colorprincipal: #eeeeee;
@mixin justify {
  align-items: center;
  text-align: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  padding: auto;
}
.header {
  @include justify();
  background-color: $colorprincipal;
  font-size: 1.3rem;
  #title {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Helvetica Neue", Arial, sans-serif;
  }
}

#img-div {
  @include justify();
  img {
    max-width: 100%;
    height: auto;
  }
  #img-caption p {
    text-align: center;
    font-size: 1.2rem;
    padding-top: 0.1rem;
  }
}

.contenido {
  @include justify();
  background-color: $colorprincipal;
  display: flex;
  flex-direction: column;
  #tribute-info {
    width: 45%;
    li {
      align-items: flex-start;
      text-align: justify;
      font-size: 1.1rem;
      margin-bottom: 1.8rem;
    }
  }
  p {
    font-weight: bolder;
    font-size: 1.3rem;
  }
  div#quote {
    width: 35%;
    margin-bottom: 1.8rem;
    font-style: italic;
    text-align: justify;

    p {
      font-weight: normal;
    }
    span {
      display: flex;
      font-size: 1.1rem;
    }
  }
}
@media screen and (max-width: 720px) {
  .contenido {
    #tribute-info {
      width: 80%;
    }
    div#quote {
      width: 65%;
    }
  }
}
