* {
  background-color: #161717;
  color: white;
  width: 100%;
}
.contenedor {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 450px;
}
.boton-google:hover {
  opacity: 0.7;
}
.boton-twitter:hover {
  opacity: 0.7;
}
.boton-enviar:hover {
  opacity: 0.7;
}
.botones {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  border-radius: 5px;
}
.boton-google {
  background-color: black;
  border-radius: 7px;
  border: none;
  padding: 2px;
  display: flex;
  align-items: center;
}
.boton-google span {
  font-size: large;
  color: white;
  font-weight: lighter;
}
.boton-google picture {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  background-color: #212121;
}
.botones img {
  width: 30px;
  height: 30px;
  background-color: none;
  border-radius: 5px;
}
.boton-twitter {
  border: 0;
  background: #161717;
  cursor: pointer;
}
.boton-twitter img {
  width: 31px;
  height: 30px;
  border-radius: 3px;
  padding: 2px;
  border-top: 0;
}
.separador {
  color: #8b8b8b;
  display: flex;
  width: 100%;
  gap: 15px;
}
.separador hr {
  flex-grow: 1;
  border: none;
  border-top: 1px solid #ccc;
}
.section-input {
  display: flex;
  gap: 10px;
  width: 100%;
}
.section-input label input {
  width: 80%;
  background-color: #212121;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  outline: none;
  font-size: 14pt;
}
.formulario {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.formulario input:hover {
  background-color: #454045;
  border: solid 1px #f3f3f4;
  box-shadow: 0 0 4px #eb50ff4f;
}
.formulario input:focus {
  background-color: white;
  border: solid 1px #f3f3f4;
  box-shadow: 0 0 4px #eb50ff4f;
}
label input {
  width: 90%;
  background-color: #212121;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  outline: none;
  font-size: 14pt;
  transition: background-color 0.2s, border 0.2s, box-shadow 0.2s;
}
.boton-enviar {
  background-color: pink;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14pt;
  text-align: center;
  padding: 15px;
}
.checkbox-label {
  display: flex;
  flex-direction: row;
}
.checkbox-label span {
  font-weight: 400;
}
.checkbox-label input[type="checkbox"] {
  width: 20px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .contenedor {
    width: 70%;
  }
}
